{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />

</head>
<body>
<div class = "alert">
  <p style="text-align:left;">
    <img src = "https://www.clipartmax.com/png/middle/24-248259_weather-png-free-download-news-and-weather-icon.png" width="50" height="40">
    <font size = "+3">Your Weather</font>
    <span style="float:right;">
      <font size = "+3">6 mins ago</font>
    </span>
  </p>
  <div>Inclimate Weather Warning!</div>
  <div>Cold Front Incoming. Severe temperatures and harsh winds</div>
  <div>Affecting your locations: Austin, Dallas, Houston</div>
  <div>Check the app for more information</div>
  <img src = "https://www.pngkit.com/png/detail/16-167785_white-arrow-pointing-down-png-down-arrow-icon.png" width="50" height="20" class = "center">
</div>
</body>
</html>
