{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />

</head>
<body>
<div class = "container">
  Compare Locations
  <div class = "row">
    <div class = "col">Austin, TX</div>
    <div class = "col">
      64<span>&#176;</span>
    </div>
  </div>
  <div class = "row">
    <div class = "col">Dallas, TX</div>
    <div class = "col">
      58<span>&#176;</span>
    </div>
  </div>
  <div class = "row">
    <div class = "col">Houston, TX</div>
    <div class = "col">
      61<span>&#176;</span>
    </div>
  </div>
  Add Location
  <img src = "https://media.istockphoto.com/vectors/black-plus-sign-positive-symbol-vector-id688550958?k=20&m=688550958&s=612x612&w=0&h=wvzUqT3u3feYygOXg3GB9pYBbqIsyu_xpvfTX-6HOd0=" width="25" height="25">
</div>
</body>
</html>
