{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
<div class = "container">
  <div class = "app_date">Janurary 18, 2022</div>
  <div class = "row">
    <div class = "col">
      <h3>
      0% rain
      </h3>
      </div>
    <div class = "col">Sunny</div>
    <div class = "col">62 F</div>
  </div>
  <div class = "row">
    5mph NE
  </div>
  <div class = "row">
    <div class = "col">12 UV Index</div>
    <div class = "col">32 Air Quality</div>
  </div>
</div>
</body>
</html>





