{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<div class = "forecast_page">
  <div class = "app_date">
    <img src = "https://thumbs.dreamstime.com/b/calendar-icon-isolated-white-background-calender-symbol-vector-deadline-date-time-185768346.jpg" width="180" height="180">
    <div>Janurary 18, 2022</div>
  </div>
  <div class = "app_date">
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-FyVrpAd_OzTcUvjBj4Y1Nk3C8vc5jDgaHBa4LbaP93q3e2FhRORkwuUjBDyYk5hMg1k&usqp=CAU" width="180" height="180">
    <div>Austin, TX</div>
  </div>
  <div class = "widget">
    <img src = "https://www.clipartkey.com/mpngs/m/159-1596942_rain-cloud-stroke-weather-symbol-comments-rain-cloud.png" width="100" height="100">
    <div>0% rain</div>
  </div>
  <div class = "widget">
    <img src = "http://cdn.onlinewebfonts.com/svg/img_80517.png" width="100" height="100">
    <div>Sunny</div>
  </div>
  <div class = "widget">
    <img src = "https://icon-library.com/images/thermometer-icon/thermometer-icon-10.jpg" width="100" height="100">
    <div>
      62
      <span>&#176;</span>
      F
    </div>
  </div>
  <div class = "widget">
    <img src = "https://png.pngtree.com/png-vector/20190214/ourmid/pngtree-vector-wind-icon-png-image_384065.jpg" width="100" height="100">
    <div>5mph NE</div>
  </div>
  <div class = "widget">
    <img src = "https://cdn0.iconfinder.com/data/icons/weather-433/24/weather-uv-512.png" width="100" height="100">
    <div>12 UV Index</div>
  </div>
  <div class = "widget">
    <img src = "https://image.shutterstock.com/image-vector/air-quality-index-educational-scheme-260nw-1776395243.jpg" width="100" height="100">
    <div>32 Air Quality</div>
  </div>
</div>
</html>





